
REACT_APP_AGENT_ADDRESS=
REACT_APP_AGENT_EMAIL=
REACT_APP_AGENT_FACEBOOK=
REACT_APP_AGENT_INSTAGRAM=
REACT_APP_AGENT_NAME=
REACT_APP_AGENT_TELEPHONE=
REACT_APP_AGENT_TWITTER=
REACT_APP_AGENT_WHATSAPP=
REACT_APP_AGENT_WHATSAPP_GROUP=
REACT_APP_API_DOC=
REACT_APP_BASE_URL=
REACT_APP_FLUTTERWAVE_PUBLIC_KEY=
REACT_APP_GOOGLE_PLAY=
REACT_APP_IMAGE_URL=
REACT_APP_IMAGE_URL_LIGHT=
REACT_APP_IOS_PLAY=
REACT_APP_MONNIFY_API_KEY=
REACT_APP_MONNIFY_CONTRACT_CODE=
REACT_APP_NAME=
REACT_APP_NUMBER_VALIDATION=
REACT_APP_PAYMENT_GATEWAY=
REACT_APP_PAYSTACK_PUBLIC_KEY=
REACT_APP_SUPPORT_BASE_URL=
REACT_APP_SUPPORT_BASE_URL_THREE=
REACT_APP_SUPPORT_BASE_URL_TWO=
REACT_APP_TEMPLATE=
